<div class="center jumbotron">
  <h1>Welcome to the MEN'S LABO</h1>

  <h2>
    男性もいつまでも綺麗でカッコよくい続ける時代へ・・・
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-lg btn-primary" %>
</div>
